.navigation {
padding: 0 8px;    
display: flex;
justify-content: space-between;
max-width: 1100px;
margin: 0 auto;
height: 72px;
}
.navigation ul {
  display: flex;
  list-style: none;
  gap: 34px;
  font-weight: 500;
}